 <h1 style="text-shadow: rgba(0, 0, 0, 0.247059) 0px 1px 1px, rgba(0, 0, 0, 0.74902) 0px 1px 30px;"><span>Discover millions of campaigns to save the world</span><br>Join and Make a Difference</h1>


<% @projects.each do |project| %>
<% project.images.each do |x| %>
<%= x.image_tag.url %>
<% end %>
<% end %>
