<p id="notice"><%= notice %></p>
<div class="discover">
<ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    <div class="category">
      <h1 style="font-weight: 900;margin-bottom: 20px;">Discover</h1>
        <figure class="snip1091">
        <img src="https://g0.iggcdn.com/assets/site/home_category_tiles/Desktop/education-fdcfdba5d24c91494ded2158d7993ab90f5c9442589fa166acf0021bbefb9116.png" />
        <figcaption>
        <h2><span>education</span></h2>
        </figcaption>
        </figure>

        <figure class="snip1091"><img src="http://www.globalvolunteernetwork.org/southafrica/main.jpg" />
        <figcaption>
        <h2><span>community</span></h2>
        </figcaption>
        </figure>

        <figure class="snip1091"><img src="http://meansusa.org/sites/default/files/coc-31.jpg" />
        <figcaption>
        <h2><span>environment</span></h2>
        </figcaption>
        </figure>

        <figure class="snip1091"><img src="http://blogs-images.forbes.com/cit/files/2015/04/doctor-with-tablet-1940x1292.jpg" />
        <figcaption>
        <h2><span>medical</span></h2>
        </figcaption>
        </figure>

        <figure class="snip1091"><img src="http://www.live58.org/Portals/209485/images/10%20facts%20about%20natural%20disasters%20-%20banner.jpg" />
        <figcaption>
        <h2><span>disasters</span></h2>
        </figcaption>
        </figure>
    </div>

</div> 

