// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.discover{
	position:absolute;
	background-color: #C1E1A6;
	width:100%;
	margin:auto;
	padding-top: 50px;
	height:100%;
}